<div class="d-flex justify-content-around" >
  <nb-card size="tiny">
    <nb-card-header>Estado <i class="fas fa-smile-wink text-success fa-2x"></i></nb-card-header>
    <nb-card-body>
      Nombre: Andres Reyes
      <br>
      Email: areyes.oleon@gmail
      <br>
      Direccion: Guatemala
    </nb-card-body>
  </nb-card>
  <nb-card size="tiny">
    <nb-card-header>Estado <i class="fas fa-sad-cry text-danger fa-2x"></i></nb-card-header>
    <nb-card-body>
      Nombre: Pacho Perez
      <br>
      Email: pancho.perez@gmail
      <br>
      Direccion: Guatemala, zacapa
    </nb-card-body>
  </nb-card>
</div>